<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dash Board</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css')}}">
</head>
<body>
    <h1>Welcome! User {{ device_id }}</h1>

    <!-- Logo Image -->
    <img class="logo" src="{{ url_for('static', filename='img/logo.png')}}" alt="Logo">

    <!-- Logout Button -->
    <button class="logout" onclick="location.href='/logout'">Logout</button>

    <div class="container">
        <!-- Actions Frame -->
        <div class="frame">
            <h2>Actions</h2>
            <p id="offline-text" style="display: none; color: gray;">Device is offline</p>
            <label class="switch">
                <input type="checkbox" id="disconnect">
                <span class="slider round"></span>
                <span class="label-text">Disconnect</span>
            </label>
            <label class="switch">
                <input type="checkbox" id="share" {% if device_id == "002" %} disabled {% endif %}>
                <span class="slider round"></span>
                <span class="label-text">Share</span>
            </label>
            <label class="switch">
                <input type="checkbox" id="receive" {% if device_id == "001" %} disabled {% endif %}>
                <span class="slider round"></span>
                <span class="label-text">Receive</span>
            </label>
        </div>


        <!-- Credit Account Frame -->
        <div class="frame">
            <h2>Credit Account</h2>
            <form onsubmit="handleCredit(event)">
                <label for="amount">Amount:</label>
                <input type="number" id="amount" name="amount" required>
                <input type="submit" value="Credit">
                <span id="credit-feedback" style="display: none; color: green; margin-left: 10px;"></span>
            </form>
        </div>

        <!-- Account Details Frame -->
        <div class="frame">
            <h2>Account Balance</h2>
            <div id="account-details">
                <!-- The previous account balance and other details will be displayed here -->
                <p>&#x20A6;<span id="balance">{{ account_balance }}</span></p>
            </div>
        </div>

        <!-- Meter Details Frame -->
        <div class="frame">
            <h2>Meter DashBoard</h2>
            <div id="meter-details">
                <p>Total Power Sent: <span id="totalPowerSent">{{ totalPowerSent }}W</span></p>
                <p>Total Power Received: <span id="totalPowerReceived">{{ totalPowerReceived }}W</span></p>
                <p>Operating Voltage: <span id="voltage">{{ voltage }}V</span></p>
                <p>instantaneous Current: <span id="current">{{ current }}mA</span></p>
                <p>instantaneous Power: <span id="power">{{ voltage * current / 1000 }}W</span></p>
                <p>Current Session: <span id="duration">{{ duration }}s</span></p>
                <p>Current State: <span id="state">{{ state }}</span></p>
            </div>
        </div>
    </div>
    <script defer src="{{ url_for('static', filename='script.js')}}"></script>
</body>
</html>
